@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
    display: none !important;
} */

.container {
    overflow-x: scroll;
    /* Horizontal scrolling enabled */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}